<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
	<head>
		<title>App</title>
		<script type="text/javascript" src="angular.js"></script>
		<script>
			var moduleRef = angular.module("main", []);
			moduleRef.controller('mainCtrl', MainCtrlFunc);
			function MainCtrlFunc($scope) {
				$scope.appName = "Test App";
				$scope.appLaunchDate = Date();
				$scope.displayDetails = function() {
					alert("App Name : " + $scope.appName + " Date : " + $scope.appLaunchDate);
				}
			}
		</script>
		<style type="text/css">
		main,div {
			border: 4px solid blue;
			padding: 10px;
			border-radius: 10px;
		}
		</style>
	</head>
	<body>
		<main ng-app = "main">
			<div id="ctrl-boundary" ng-controller="mainCtrl">
				<input type="text" ng-model="appLaunchDate"></input>
				<button ng-click="displayDetails()">Show Details</button>
			</div>
			<div id="ctrl-boundary1" ng-controller="mainCtrl">
				<input type="text" ng-model="appLaunchDate"></input>
				<button ng-click="displayDetails()">Show Details</button>
			</div>
		</main>
	</body>
</html>
