<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
	<head>
		<title>App</title>
		<script type="text/javascript" src="angular.js"></script>
		<script>
			var moduleRef = angular.module("main", []);
			moduleRef.controller('mainCtrl', MainCtrlFunc);
			//No $scope here
			function MainCtrlFunc() {
				this.appName = "Test App";
				this.appLaunchDate = Date();
				this.showContent = false;
				this.heroes = ["Spidey", "Battie", "Super", "Spidey"]
				this.displayDetails = function() {
					this.showContent = true;
					alert("App Name : " + this.appName + " Date : " + this.appLaunchDate);
				}
			}
		</script>
		<style type="text/css">
		main,div {
			border: 4px solid blue;
			padding: 10px;
			border-radius: 10px;
		}
		</style>
	</head>
	<body>
		<main ng-app = "main">
			<div id="ctrl-boundary" ng-controller="mainCtrl as obOne">
				<li ng-repeat="hero in obOne.heroes track by $index">{{$index}} - {{hero}}</li>
				<input type="text" ng-model="obOne.appLaunchDate"></input>
				<button ng-click="obOne.displayDetails()">Show Details</button>
				<div ng-show="obOne.showContent"> 
					<button>Add to cart</button>
				</div>
			</div>
			<div id="ctrl-boundary1" ng-controller="mainCtrl as obOne">
				<input type="text" ng-model="obOne.appLaunchDate"></input>
				<button ng-click="obOne.displayDetails()">Show Details</button>
			</div>
		</main>
	</body>
</html>
