<div ng-controller="main" id = "maincontainer" class = "container container-fluid">
	<aside>
		<input type="text" placeholder="Search" class = "form-control" ng-model="searchText" ></input>
	</aside>
	<main>
		<article class = "panel panel-primary" ng-repeat = "product in products | orderBy:'name' | filter: searchText">
		<header class= "panel-heading"><strong>{{product.name}}</strong></header>
		<div class="panel-body">
		<div>{{product.description}}</div>
		<div>{{product.price | currency:"&#8377; "}}</div>
		<figure><img width = "40%" height= "25%" ng-src = images/{{product.img}}></figure>
		</div>
	</article>
	</main>
</div>